form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input{
  margin-bottom: 8px;
}

form input[type='button']{
  margin-right: 10px;
}

h1 {
  text-align: center;
}

table {
  align-items: center;
  text-align: center;
}


